:root {
  --page-sub-title-font-size: 1.2rem;
}
@import url('https://fonts.googleapis.com/css?family=Sacramento');
.navbar-brand {
  font-size: 1rem;
  font-family: 'Sacramento','Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}
.page-title {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
.navbar-default {
  border-bottom: 1px solid #dadada;
  background-color: #fafafa;
}
a {
  color: #0044a0;
}
.additional {
  color: #aaa;
  font-size: small;
}
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Gothic');
div{
  font-family: 'Sawarabi Gothic','Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}
